.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 12px;
}

.item {
  align-items: center;
}

.ingredientImg{
  max-height: 200px;
  max-width: 200px;
}

.Meal{
  border-radius: 10px;
}

.prev{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 5px;
  cursor: pointer;
}

.next{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 5px;
  cursor: pointer;
}